# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.3.1=pypi_0
accelerate=1.11.0=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.13.2=pypi_0
aiosignal=1.4.0=pypi_0
alembic=1.17.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.11.0=pypi_0
argon2-cffi=25.1.0=pypi_0
argon2-cffi-bindings=25.1.0=pypi_0
argparse=1.4.0=pypi_0
arrow=1.4.0=pypi_0
asttokens=3.0.0=pypi_0
async-lru=2.0.5=pypi_0
attrs=25.4.0=pypi_0
babel=2.17.0=pypi_0
banal=1.0.6=pypi_0
beautifulsoup4=4.14.2=pypi_0
bert-score=0.3.13=pypi_0
bitsandbytes=0.48.2=pypi_0
bleach=6.3.0=pypi_0
bleurt-pytorch=0.0.1=pypi_0
bzip2=1.0.8=hda65f42_8
ca-certificates=2025.10.5=hbd8a1cb_0
certifi=2025.10.5=pypi_0
cffi=2.0.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.4=pypi_0
click=8.3.0=pypi_0
colorama=0.4.6=pypi_0
comm=0.2.3=pypi_0
contourpy=1.3.3=pypi_0
cycler=0.12.1=pypi_0
dataproperty=1.1.0=pypi_0
dataset=1.6.2=pypi_0
datasets=4.3.0=pypi_0
debugpy=1.8.17=pypi_0
decorator=5.2.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.4.0=pypi_0
distro=1.9.0=pypi_0
evaluate=0.4.6=pypi_0
executing=2.2.1=pypi_0
fastjsonschema=2.21.2=pypi_0
filelock=3.20.0=pypi_0
fire=0.7.1=pypi_0
fonttools=4.61.0=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.8.0=pypi_0
fsspec=2025.9.0=pypi_0
fuzzywuzzy=0.18.0=pypi_0
greenlet=3.2.4=pypi_0
h11=0.16.0=pypi_0
hf-xet=1.2.0=pypi_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.36.0=pypi_0
idna=3.11=pypi_0
ipykernel=7.1.0=pypi_0
ipython=9.6.0=pypi_0
ipython-pygments-lexers=1.1.1=pypi_0
ipywidgets=8.1.7=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.12.0=pypi_0
joblib=1.5.2=pypi_0
json5=0.12.1=pypi_0
jsonlines=4.0.0=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.25.1=pypi_0
jsonschema-specifications=2025.9.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-client=8.6.3=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.9.1=pypi_0
jupyter-events=0.12.0=pypi_0
jupyter-lsp=2.3.0=pypi_0
jupyter-server=2.17.0=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.4.10=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.28.0=pypi_0
jupyterlab-widgets=3.0.15=pypi_0
kiwisolver=1.4.9=pypi_0
lark=1.3.1=pypi_0
ld_impl_linux-64=2.44=h1aa0949_4
levenshtein=0.27.3=pypi_0
libexpat=2.7.1=hecca717_0
libffi=3.5.2=h9ec8514_0
libgcc=15.2.0=h767d61c_7
libgcc-ng=15.2.0=h69a702a_7
libgomp=15.2.0=h767d61c_7
liblzma=5.8.1=hb9d3cd8_2
libnsl=2.0.1=hb9d3cd8_1
libsqlite=3.50.4=h0c1763c_0
libstdcxx=15.2.0=h8f9b012_7
libuuid=2.41.2=he9a06e4_0
libxcrypt=4.4.36=hd590300_1
libzlib=1.3.1=hb9d3cd8_2
lm-eval=0.4.9.2=pypi_0
lxml=6.0.2=pypi_0
mako=1.3.10=pypi_0
markupsafe=3.0.3=pypi_0
matplotlib=3.10.7=pypi_0
matplotlib-inline=0.2.1=pypi_0
mbstrdecoder=1.1.4=pypi_0
mistune=3.1.4=pypi_0
more-itertools=10.8.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.7.0=pypi_0
multiprocess=0.70.16=pypi_0
nbclient=0.10.2=pypi_0
nbconvert=7.16.6=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.5=h2d0b736_3
nest-asyncio=1.6.0=pypi_0
networkx=3.5=pypi_0
nltk=3.9.2=pypi_0
notebook=7.4.7=pypi_0
notebook-shim=0.2.4=pypi_0
numexpr=2.14.1=pypi_0
numpy=1.26.4=pypi_0
nvidia-cublas-cu12=12.8.4.1=pypi_0
nvidia-cuda-cupti-cu12=12.8.90=pypi_0
nvidia-cuda-nvrtc-cu12=12.8.93=pypi_0
nvidia-cuda-runtime-cu12=12.8.90=pypi_0
nvidia-cudnn-cu12=9.10.2.21=pypi_0
nvidia-cufft-cu12=11.3.3.83=pypi_0
nvidia-cufile-cu12=1.13.1.3=pypi_0
nvidia-curand-cu12=10.3.9.90=pypi_0
nvidia-cusolver-cu12=11.7.3.90=pypi_0
nvidia-cusparse-cu12=12.5.8.93=pypi_0
nvidia-cusparselt-cu12=0.7.1=pypi_0
nvidia-nccl-cu12=2.27.5=pypi_0
nvidia-nvjitlink-cu12=12.8.93=pypi_0
nvidia-nvshmem-cu12=3.3.20=pypi_0
nvidia-nvtx-cu12=12.8.90=pypi_0
ollama=0.6.0=pypi_0
openai=2.8.1=pypi_0
openssl=3.5.4=h26f9b46_0
overrides=7.7.0=pypi_0
packaging=25.0=pypi_0
pandas=2.3.3=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.5=pypi_0
pathvalidate=3.3.1=pypi_0
peft=0.18.0=pypi_0
pexpect=4.9.0=pypi_0
pillow=12.0.0=pypi_0
pip=25.3=pypi_0
platformdirs=4.5.0=pypi_0
portalocker=3.2.0=pypi_0
prometheus-client=0.23.1=pypi_0
prompt-toolkit=3.0.52=pypi_0
propcache=0.4.1=pypi_0
psutil=7.1.2=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pyarrow=22.0.0=pypi_0
pybind11=3.0.1=pypi_0
pycocoevalcap=1.2=pypi_0
pycocotools=2.0.11=pypi_0
pycparser=2.23=pypi_0
pydantic=2.12.3=pypi_0
pydantic-core=2.41.4=pypi_0
pygments=2.19.2=pypi_0
pyparsing=3.2.5=pypi_0
pytablewriter=1.2.1=pypi_0
python=3.11.14=hd63d673_2_cpython
python-dateutil=2.9.0.post0=pypi_0
python-json-logger=4.0.0=pypi_0
pytz=2025.2=pypi_0
pyyaml=6.0.3=pypi_0
pyzmq=27.1.0=pypi_0
rank-bm25=0.2.2=pypi_0
rapidfuzz=3.14.3=pypi_0
rbo=0.1.3=pypi_0
readline=8.2=h8c095d6_2
referencing=0.37.0=pypi_0
regex=2025.11.3=pypi_0
requests=2.32.5=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rfc3987-syntax=1.1.0=pypi_0
rouge-score=0.1.2=pypi_0
rpds-py=0.28.0=pypi_0
sacrebleu=2.5.1=pypi_0
safetensors=0.6.2=pypi_0
scikit-learn=1.7.2=pypi_0
scipy=1.16.2=pypi_0
send2trash=1.8.3=pypi_0
sentence-transformers=5.1.2=pypi_0
sentencepiece=0.2.1=pypi_0
setuptools=80.9.0=pyhff2d567_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.8=pypi_0
sqlalchemy=1.4.54=pypi_0
sqlitedict=2.1.0=pypi_0
stack-data=0.6.3=pypi_0
sympy=1.14.0=pypi_0
table-utils=0.0.3=pypi_0
tabledata=1.3.4=pypi_0
tabulate=0.9.0=pypi_0
tcolorpy=0.1.7=pypi_0
termcolor=3.2.0=pypi_0
terminado=0.18.1=pypi_0
threadpoolctl=3.6.0=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.13=noxft_hd72426e_102
tokenizers=0.22.1=pypi_0
torch=2.9.0=pypi_0
tornado=6.5.2=pypi_0
tqdm=4.67.1=pypi_0
tqdm-multiprocess=0.0.11=pypi_0
traitlets=5.14.3=pypi_0
transformers=4.57.1=pypi_0
triton=3.5.0=pypi_0
typepy=1.3.4=pypi_0
typer-slim=0.20.0=pypi_0
typing-extensions=4.15.0=pypi_0
typing-inspection=0.4.2=pypi_0
tzdata=2025.2=pypi_0
unidecode=1.4.0=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.5.0=pypi_0
wcwidth=0.2.14=pypi_0
webcolors=24.11.1=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.9.0=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
widgetsnbextension=4.0.14=pypi_0
wikipedia-api=0.8.1=pypi_0
word2number=1.1=pypi_0
xxhash=3.6.0=pypi_0
yarl=1.22.0=pypi_0
zstandard=0.25.0=pypi_0
zstd=1.5.7=hb8e6e7a_2
